<h1>投稿一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>投稿内容</th>
  </tr>

<% @postings.each do |posting| %>
  <tr>
    <td><%= posting.content %></td>
    <td><%= link_to '詳細を確認する', posting_path(posting.id) %></td>
    <td><%= link_to '編集する', edit_posting_path(posting.id),data: {confirm: '本当に編集しますか？'} %></td>
    <td><%= link_to '削除する', posting_path(posting.id), method: :delete, data: {confirm: '本当に削除しますか？'} %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しく投稿する', new_posting_path %>
